*{
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

/* ------------------------------------------- */

body{
    background-color: rgb(50, 207, 76);
    font-family: Arial, Helvetica, sans-serif;
}

#app{
    margin: 50px 0px 0px 50px;
}

#titulo{
    text-transform: uppercase;
    margin-bottom: 20px;
}

img{
    width: 300px;
}

figure{
    margin-bottom: 20px;
}